<div class="container cart-container p-3">
  <h2><%= t('.title') %></h2>
  <hr/>
  <% if current_cart.games.empty? %>
    <h5><%= t('.empty') %></h5>
  <% else %>
    <ul class="list-group">
      <% current_cart.games.each do |game| %>
        <li class="list-group-item cart-item">
          <div class="d-flex p-3">
            <%= image_tag get_logo_path(game.title), class: "game-logo" %>
            <div class="m-3 ps-5">
              <h2><%= link_to game.title, game_path(game) %><h2>
            </div>
            <div class="d-flex ms-auto m-3 align-items-end flex-column">
              <div class="p-2 cart-item-price"><%= render partial: "shared/price", locals: {game: game, sale: true} %></div>
              <div class="p-2 mt-auto">
                <%= form_with url: remove_cart_path(game.id), method: :patch do |f| %>
                  <%= f.submit t('.remove'), class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if !current_cart.games.empty? %>
    <div class="d-flex justify-content-center m-3 align-items-center pt-4">
      <%= link_to t('.proceed'), checkout_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>