<div class="container p-3 m-3 register-form-container">
  <div class="row justify-content-center m-5">
    <div class="col-auto">
      <h1>Register</h1>
    </div>
  </div>
  <div class="container">
    <div class="row ps-4">
      <div class="col offset-3">
        <% if flash.now[:alert] && !@user.errors[:username].empty? %>
          <span class="username-dupe text-danger"><%= t('.help.username') %></span>
        <% end %>
      </div>
    </div>
    <div class="row ps-4">
      <div class="col offset-3">
        <% if flash.now[:alert] && !@user.errors[:email].empty? %>
          <span class="email-dupe text-danger"><%= t('.help.email') %></span>
        <% end %>
      </div>
    </div>
  </div>
  <%= form_with model: @user, url: register_path, html: {novalidate: true, id:"register_form"} do |f| %>
    <div class="row justify-content-center m-5">
      <div class="col-2">
        <%= f.label :username, t('.label.username') + ": ", class: "col-form-label" %>
      </div>
      <div class="col-4">
        <div class="form-group">
          <%= f.text_field :username, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= t('.feedback.username') %></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center m-5">
      <div class="col-2">
        <%= f.label :email, t('.label.email') + ": ", class: "col-form-label" %>
      </div>
      <div class="col-4">
        <%= f.email_field :email, class: "form-control", required: true %>
        <div class="invalid-feedback"><%= t('.feedback.email') %></div>
      </div>
    </div>
    <div class="row justify-content-center m-5">
      <div class="col-2">
        <%= f.label :password, t('.label.password') + ": ", class: "col-form-label" %>
      </div>
      <div class="col-4">
        <%= f.password_field :password, class: "form-control", required: true %>
        <div class="invalid-feedback"><%= t('.feedback.password') %></div>
      </div>
    </div>
    <div class="row justify-content-center m-5">
      <div class="col-2">
        <%= f.label :password_confirmation, t('.label.pass_verify') + ": ", class: "col-form-label" %>
      </div>
      <div class="col-4">
        <%= f.password_field :password_confirmation, class: "form-control", required: true %>
        <div class="invalid-feedback"><%= t('.feedback.pass_verify') %></div>
      </div>
    </div>
    <div class="row justify-content-center m-5">
      <div class="col-2">
        <%= f.submit "Register", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>