<div class="container p-3 m-3 register-form-container">
  <div class="d-flex justify-content-center m-5">
    <h1><%= t('.register_title') %></h1>
  </div>
  <% if flash.now[:alert] && !@user.errors[:username].empty? %>
    <div class="row ps-4">
      <div class="username-dupe text-danger col offset-3">
        <%= t('.help.username') %>
      </div>
    </div>
  <% end %>
  <% if flash.now[:alert] && !@user.errors[:email].empty? %>
    <div class="row ps-4">
      <div class="col offset-3 email-dupe text-danger">
        <%= t('.help.email') %>
      </div>
    </div>
  <% end %>
  <%= form_with model: @user, url: register_path, html: {novalidate: true, id:"register_form", class: "needs-validation"} do |f| %>
    <div class="container">
      <div class="row justify-content-center m-5">
        <div class="col-2">
          <%= f.label :username, t('.label.username') + ": ", class: "col-form-label" %>
        </div>
        <div class="col-4">
          <div class="form-group">
            <%= f.text_field :username, class: "form-control", required: true %>
            <div class="invalid-feedback"><%= t('.feedback.username') %></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center m-5">
        <div class="col-2">
          <%= f.label :email, t('.label.email') + ": ", class: "col-form-label" %>
        </div>
        <div class="col-4">
          <%= f.email_field :email, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= t('.feedback.email') %></div>
        </div>
      </div>
      <div class="row justify-content-center m-5">
        <div class="col-2">
          <%= f.label :password, t('.label.password') + ": ", class: "col-form-label" %>
        </div>
        <div class="col-4">
          <%= f.password_field :password, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= t('.feedback.password') %></div>
        </div>
      </div>
      <div class="row justify-content-center m-5">
        <div class="col-2">
          <%= f.label :password_confirmation, t('.label.pass_verify') + ": ", class: "col-form-label" %>
        </div>
        <div class="col-4">
          <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          <div class="invalid-feedback"><%= t('.feedback.pass_verify') %></div>
        </div>
      </div>
      <div class="row justify-content-center m-5">
        <div class="col-2">
          <%= f.submit "Register", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>