<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <%= link_to t('app_name'), root_path, class: "navbar-brand" %>
    <ul class="navbar-nav me-auto mb-2 mt-2">
      <li class="nav-item">
        <%= link_to t('header.navbar.home'), games_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to t('header.navbar.contact'), "#", class: "nav-link active" %>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mt-2">
      <% if Current.user %>
        <li class="nav-item">
          <%= link_to Current.user.username, current_user_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to t('header.navbar.logout'), logout_path, method: :delete %>
      <% else %>
        <li class="nav-item">
          <%= link_to t('header.navbar.register'), register_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to t('header.navbar.login'), login_path, class: "nav-link active" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
