<div class="container p-3 checkout-container">
  <h4><%= t('.checkout_title') %></h4>
  <hr/>
  <ul class="list-group">
    <% Current.cart.games.each do |game| %>
      <li class="list-group-item checkout-list-item">
        <div class="d-flex justify-content-center m-3">
          <div><h5><u><%= game.title %></u></h5></div>
          <div class="ms-auto align-self-center">
            <%= render partial: "shared/price", locals: {game: game} %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <hr/>
  <div class="d-flex mb-3 mt-3 justify-content-end">
    <%= format_total_price(@total_checkout) %>
  </div>
  <div class="d-flex">
    <%= link_to t('.back'), current_cart_path, class: "btn btn-primary" %>
    <%= form_with url: checkout_path, method: :post, class: "ms-auto" do |f| %>
      <%= f.submit t('.place_order'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>