<div class="container game-container">
  <div class="d-flex">
    <div class="p-5">
      <%= image_tag get_logo_path(@game.title), class: "game-logo-large" %>
    </div>
    <div class="p-5">
      <p><h3><%= @game.title %></h3></p>
      <p><%= t('.genres') + ": " + @game.genres.map{|x| x.name}.compact*", " %></p>
      <p><%= @game.release_date.strftime("#{t('.release_date')}: %b %d, %Y") %></p>
      <p><%= t('.developers') + ": " + @game.developers.map{|x| x.name}.compact*", " %></p>
      <p><%= t('.publishers') + ": " + @game.publishers.map{|x| x.name}.compact*", " %></p>
    </div>
  </div>
  <hr/>
  <div class="row p-3">
    <div class="col">
      <p><strong><h4><%= t('.about_game') %></h4></strong></p>
    </div>
  </div>
  <div class="row p-3">
    <div class="col">
      <p><%= @game.description %></p>
    </div>
  </div>
  <hr/>
  <div class="d-flex p-3">
    <div class="me-auto">
      <h4><strong><%= t('.buy_label') + " " + @game.title %></strong></h4>
    </div>
    <div class="ms-auto m-3 d-flex align-items-end flex-column">
      <div class="p-2">
        <%= render partial: "shared/price", locals: {game: @game} %>
      </div>
      <div class="p-2 mt-auto">
        <% if @added %>
          <%= link_to t('.in_cart'), current_cart_path, class: "btn btn-primary" %>
        <% else %>
          <%= form_with url: add_cart_path(@game.id), method: :post do |f| %>
            <%= f.submit t('.add_cart'), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>